NODE_ENV=
PORT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
JWT_SECRET=
JWT_AUDIENCE=
JWT_ISSUER=
JWT_TTL=
BRAPI_API_KEY=
EMAIL_DELIVERY_ENDPOINT=
EMAIL_DELIVERY_TOKEN=
REDIS_HOST=
REDIS_POST=